In [2]:
#pip install textblob - in jupyter notebook tyoe in !pip install TextBlob
import pandas as pd
from textblob import TextBlob

In [18]:
def remove_white_space(df: pd.DataFrame):
  df['text'] = df['text'].apply(lambda x: x.strip())
  return df

def get_sentiment(df: pd.DataFrame):
  df['sentiment']= df['text'].apply(lambda row: TextBlob(row).sentiment[0])
  return df

df = pd.DataFrame({'text': ["It is a beautiful day today  ",
                        "  This movie is terrible", "I wish my birthday was sooner so I can see my family"]})

df = (df.pipe(remove_white_space).pipe(get_sentiment))
df

                                                text  sentiment
0                        It is a beautiful day today       0.85
1                             This movie is terrible      -1.00
2  I wish my birthday was sooner so I can see my ...       0.00